#loading-container {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    -webkit-backdrop-filter: blur(40px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    backdrop-filter: blur(40px);
    transition: 1s ease;
    background: rgba(0, 0, 0, .12)
}

#loading-container .loading-wrapper {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    width: 100%;
    max-width: 450px
}

#loading-container .loading-wrapper #loading-logo {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    text-align: center
}

#loading-container .loading-wrapper #loading-logo .loading-spinner-rolling .ldio div {
    -webkit-animation: loader 1s linear infinite;
    position: absolute;
    top: 100px;
    left: 100px;
    animation: loader 1s linear infinite;
    border: 20px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    width: 120px;
    height: 120px
}

#loading-container .loading-wrapper #loading-logo .loading-spinner-rolling .ldio {
    -webkit-transform: translateZ(0) scale(1);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    position: relative;
    transform: translateZ(0) scale(1);
    transform-origin: 0 0;
    backface-visibility: hidden;
    width: 100%;
    height: 100%
}

#loading-container .loading-wrapper #loading-logo .loading-spinner-rolling .ldio div {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

#loading-container .loading-wrapper .progress-status {
    margin-top: 30px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center
}

@media screen and (max-width:600px) {
    #loading-container .loading-wrapper .progress-status {
        font-size: 16px
    }
}

#loading-container.preload-finish {
    opacity: 0;
    pointer-events: none
}