.create-strategy {
    padding: 70px 24px;
}
.create-strategy .wrapper-container {
    border: 1px solid #d3d8de;
    border-radius: 8px;
    background: #fff;
    padding: 24px;
}
.create-strategy .wrapper-container .wrap-left {
    border-radius: 8px;
    background: #fff0e5;
    padding: 65px 60px;
    width: 100%;
    max-width: 748px;
}
.create-strategy .wrapper-container .wrap-left .section-title {
    color: #464646;
    font-size: 40px;
    font-weight: 700;
}
.create-strategy .wrapper-container .wrap-left .desc {
    max-width: 420px;
    color: #454f5b;
}
.create-strategy .wrapper-container .wrap-left figure {
    margin-left: auto;
    max-width: 404px;
}
.create-strategy .wrapper-container .wrap-right {
    padding-top: 96px;
    padding-left: 120px;
    max-width: calc(100% - 748px);
}
.create-strategy .wrapper-container .wrap-right h2 {
    margin-bottom: 40px;
    color: #464646;
    font-size: 20px;
    font-weight: 700;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .row {
    margin-right: -8px;
    margin-left: -8px;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group label {
    margin-bottom: 8px;
    color: #464646;
    font-size: 14px;
    font-weight: 600;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .form-control {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    background: #fff;
    padding: 0 16px;
    width: 100%;
    height: 36px;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .form-control::-webkit-input-placeholder {
    color: #b6bec8;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .form-control::-moz-placeholder {
    color: #b6bec8;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .form-control:-ms-input-placeholder {
    color: #b6bec8;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .form-control::-ms-input-placeholder {
    color: #b6bec8;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .form-control::placeholder {
    color: #b6bec8;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .check-label {
    position: relative;
    cursor: pointer;
    margin-bottom: 24px;
    padding-left: 32px;
    color: #454f5b;
    font-weight: 400;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .check-label:before {
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #d3d8de;
    border-radius: 4px;
    background: #fff;
    width: 18px;
    height: 18px;
    content: "";
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group input[type="checkbox"] {
    display: none;
}
.create-strategy
    .wrapper-container
    .wrap-right
    .wrap-form
    .form-group
    input[type="checkbox"]:checked
    ~ .check-label:before {
    color: #ffc20e;
    font-family: Material Icons;
    font-size: 24px;
    content: "\e834";
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group input.form-control[type="datetime-local"],
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group select.form-control {
    color: #000;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group.col-lg-6,
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group.col-lg-12 {
    padding: 0 8px;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .btn-backstep {
    margin-left: auto;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .btn-submit {
    margin-left: 16px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.create-strategy .wrapper-container .wrap-right .wrap-form .form-group .btn-submit span {
    margin-right: 10px;
}
@media screen and (max-width: 1199.98px) {
    .create-strategy {
        padding: 70px 8px;
    }
}
@media screen and (max-width: 600.98px) {
    .create-strategy .wrapper-container,
    .create-strategy .wrapper-container .wrap-left {
        padding: 16px;
    }
    .create-strategy .wrapper-container .wrap-left .section-title {
        padding-bottom: 8px;
        font-size: 20px;
    }
    .create-strategy .wrapper-container .wrap-right {
        padding-top: 16px;
        padding-left: 0;
        max-width: 100%;
    }
    .create-strategy .wrapper-container .wrap-right h2 {
        margin-bottom: 16px;
    }
    .create-strategy .wrapper-container .wrap-right .wrap-form .form-group .btn-backstep,
    .create-strategy .wrapper-container .wrap-right .wrap-form .form-group .btn-submit {
        width: 100%;
    }
    .create-strategy .wrapper-container .wrap-right .wrap-form .form-group .btn-submit {
        margin-top: 16px;
        margin-left: 0;
    }
}
