.strategy-btn-add {
    display: flex;
    cursor: pointer;
    i {
        color: #dc3545;
        font-size: large;
        padding: 5px;
    }
}
.accordion-item {
    margin-top: 10px;
    border-radius: 10px !important;
    .accordion-header {
        button {
            color: #fff;
            font-size: 15px;
            background: radial-gradient(58.36% 71.65% at 76.69% 0,#f9f7eb 0,#c9b87d 100%),radial-gradient(55.79% 83.93% at 78.78% 0,#72eedf 0,#13d2bb 100%);
            border-radius: 10px !important;
        }
    }
    .accordion-collapse{
        transition: 0.3s all ease;
    }

    .accordion-button::after {
       color: #fff !important;
    }
}

